@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-sans: var(--font-lato);
  --font-display: var(--font-baloo2);
  --font-display: var(--font-courgette);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body{
	overflow: hidden;
}
html{
	overflow-x: hidden;
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), cursive;
  font-size: 16px;
  color:#000;
  background-color: #FFF2EF;
}
.container{
	max-width: 1024px!important;
	width: 100%!important;
	margin: auto!important;
}
label {
  color:#000;
}

h1, h2 {
  font-family: var(--font-baloo2), cursive;
  margin: 0;
}
h1{
	font-size:42px;
	line-height:38px;
}
h1.contactSub{
	font-size:34px;
	line-height:38px;
}
footer{
	background-image:url(assets/bgfooter.png);
	background-position:-80px -30px;
	background-size:cover;
}
footer h3{
	font-family: var(--font-lato);
	font-weight:800;
	font-size:16px;
}
.footerULline{
	line-height:40px;
}
.fontSmallTem{
	font-size:10px;
}
@keyframes zoomInOnce {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.05); /* adjust the zoom level as needed */
  }
}
.swing {
  animation: 
    zoomInOnce 0.5s ease-out forwards, /* runs once */
    swingUpDown 2s ease-in-out infinite; /* loops infinitely */
}
.semicircmotion{
	animation: semiCircularMotion 2s linear infinite;
}

.spansidecour{
	font-family: var(--font-courgette);
	font-weight:500!important;
}
.spansidelato{
	font-family: var(--font-lato);
	font-weight:500!important;
}
.customtenight{
	font-size:28px;
}
.fastbeecontact{
	top:-30px;
	right:-20px;
}
.contactblkbee{
	background-image:url(assets/contactbright.png);
	background-position:top right;
	background-repeat:no-repeat;
}
.mediumWnn{
	font-family: var(--font-lato);
	font-weight:900;
	width:70%;
}
.fastbeecontact2 {
    top: 11px;
    right: 27px;
}
.fixedNavbar{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 80%;
    margin-top: 0;
    border-top: 0;
	transition:all linear 0.3s;
}
.testimonial-cloud::before{
	content: '';
	position: absolute;
	background-image:url(assets/cloud.png);
	background-size: 450px;
	width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
    background-position: -55px 0px;
	background-repeat: no-repeat;
	background-repeat: repeat-x;
}
.cloud-img_slider{
	background-image:url(assets/cloud.png);
	background-size: 100% 100%;
	width: 100%;
	background-position: 0px;
	padding: 95px 60px 20px;
    left: -30px;
	background-repeat: no-repeat;
	display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: 400px;
}
.cloud-testimonial-pera{
	overflow: hidden;
	overflow-y: scroll;
}
.border-customOrange{
	border-image: repeating-linear-gradient(90deg, #F8845D 0 10px, transparent 10px 20px) 1;
}
.rounded_circle{
	position:relative;
	padding: 0px 10px;
}
.rounded_circle::before{
	position:absolute;
	content: '';
	left: -5px;
    top: 0px;
    right: -5px;
    bottom: -15px;
	background-image: url(../../public/images/solvingcirc.png);
	background-repeat: no-repeat;
	background-size: contain;
}
.curved_lines {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 30px;
}
.yellow_circle{
	background-image: url(assets/yellow_circle.png);
    background-repeat: no-repeat;
    display: inline-flex;
    background-size: contain;
    align-items: center;
    justify-content: center;
    font-size: 98%;
    margin-top: -1px;
    padding: 3px 15px 7px;
    background-position: center center;
}
.package_price_bg{
	background-image: url(assets/package_price_bg.png);
    background-repeat: no-repeat;
    display: inline-flex;
    padding: 5px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-position: center center;
	font-size: 150%;
}
.purple_circle{
	background-image: url(assets/purple_circle.png);
    background-repeat: no-repeat;
    display: inline-flex;
    padding: 5px 20px 8px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-position: center center;
    margin-bottom: -5px;
}
.clinic_border{
	background-image: url(../../public/images/drawing001.png);
    background-repeat: no-repeat;
    display: inline-flex;
    padding: 5px 20px 8px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-position: center center;
    margin-bottom: -5px;
}
.clinic_border_bottom{
	background-image: url(../../public/images/drawing002.png);
    background-repeat: no-repeat;
    display: inline-flex;
    padding: 5px 20px 8px;
    background-size: contain;
    align-items: center;
    justify-content: center;
    background-position: center center;
    margin-bottom: -5px;
}
.memberlisting li{
	position: relative;
}
.memberlisting li::after{
	position: absolute;;
	content: '';
	width: 20px;
	height: 2px;
	background-color: #9B9B9B;
	bottom: 0px;
	left: 50%;
	transform:  translateX(-50%);
}
.memberlisting li:last-child::after {
  content: none;
}
.imageoverlay{
	position: relative;
}
.imageoverlay::after{
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: #000000;
	background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
	border-radius: 15px;
	content: '';
	opacity: 0.8;
	z-index: 1;
}
.privacy_login{
	padding-bottom: 40px;
}
.privacy_login h2{
	padding: 20px 0px 10px;
}
.privacy_login p{
	margin-bottom: 20px;
}
#cardsx {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), var(--cardHeight));
  gap: var(--cardMargin);
  padding-bottom: calc(var(--cards) * var(--cardTopPadding));
  margin-bottom: var(--cardMargin);
  position: relative;
}

#card1 {
  --index: 1;
}
#card2 {
  --index: 2;
}
#card3 {
  --index: 3;
}
#card4 {
  --index: 4;
}

.cardx {
  position: sticky;
  top: 0;
  padding-top: calc(var(--index) * var(--cardTopPadding));
}

#card1 .card-body {
  background-color: #ddd0ff;
}
#card2 .card-body {
  /* background-color: #7EC4CF; */
  background-color: #a3e48a;
}
#card3 .card-body {
  background-color: #fbe38f;
}
#card4 .card-body {
  background-color: #d6f4fa;
}

.card-body {
  box-sizing: border-box;
  border-radius: 10px;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
  transition: all .5s;
  display: flex;
  box-shadow: 0 0 5px #00000023;
  flex-direction: column;
}
.lightergreen{
    background-color: #FBE38F;
    padding: 9px 50px;
    border-radius: 24px;
    color: #5943A5;
}